@charset "CP850";
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\000038}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000313}}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000318}}
body {
  color: #444444;
  font-family: source_sans_proregular, arial, helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 0.002em;
  line-height: 1.6;
}

/* Headlines */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000327}}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h4 a, h6 a {
  font-family: oswaldbook, arial, helvetica, sans-serif;
  font-weight: normal;
  color: #555555;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000336}}
.name-and-slogan {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000338}}
.name-and-slogan .site-name, .name-and-slogan .site-name a {
  font-family: maiden_orangeregular, times, serif;
  font-weight: normal;
  font-size: 54px;
  font-size: 3rem;
  color: #ca0d0d;
  line-height: 1;
  margin-bottom: 0;
}

/** Standard HTML Elements ** */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000349}}
a {
  color: #ca0d0d;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000352}}
a:hover {
  color: #ca0d0d;
}

/*Drupal-specific Elements */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000356}}
code {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000359}}
.submitted {
  color: #999999;
  font-family: oswaldlight, arial, helvetica, sans-serif;
  font-size: 14.94px;
  font-size: 0.83rem;
  margin: 5px 0 9px;
}

/*Drupal-specific micro elements */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000367}}
a.feed-icon {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000371}}
ul.links.inline li {
  padding: 0 10px 0 0;
  font-size: 14.94px;
  font-size: 0.83rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000375}}
p {
  margin: 5px 0 12px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000378}}
input.form-text {
  border: 1px solid #aaaaaa;
  padding: 2px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000382}}
div[role="contentinfo"] {
  background: no-repeat 10px 17px;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000393}}
div[aria-label="Statusmeldung"] {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-image: url(../../../core/misc/icons/73b355/check.svg);
  border-left: 6px solid #77b259;
}

/* Messages Styling */
/*
 * @file
 * Styles for system messages.
 * @TODO: Diese Styles auf die neuen Selektoren uebertragen, wie für die Statusmeldung schon gemacht.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003107}}
.messages {
  background: no-repeat 10px 17px;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003116}}
[dir="rtl"] .messages {
  border-width: 1px 0 1px 1px;
  background-position: right 10px top 17px;
  padding-left: 20px;
  padding-right: 35px;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003123}}
.messages + .messages {
  margin-top: 1.538em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003126}}
.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003131}}
.messages__item + .messages__item {
  margin-top: 0.769em;
}

/* See .color-success in Seven's colors.css */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003135}}
.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-image: url(../../../../misc/icons/73b355/check.svg);
  box-shadow: -8px 0 0 #77b259;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003142}}
[dir="rtl"] .messages--status {
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
  margin-left: 0;
}

/* See .color-warning in Seven's colors.css */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003148}}
.messages--warning {
  background-color: #fdf8ed;
  background-image: url(../../../../misc/icons/e29700/warning.svg);
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  color: #734c00;
  box-shadow: -8px 0 0 #e09600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003155}}
[dir="rtl"] .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 8px 0 0 #e09600;
}

/* See .color-error in Seven's colors.css */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003160}}
.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(../../../../misc/icons/e32700/error.svg);
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003167}}
[dir="rtl"] .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 8px 0 0 #e62600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003171}}
.messages--error p.error {
  color: #a51b00;
}

/* Primary Tabs */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003176}}
#block-tommiblog-local-tasks ul {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003178}}
#block-tommiblog-local-tasks ul li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003180}}
#block-tommiblog-local-tasks ul li a {
  background: #e9e9e9;
  display: inline-block;
  padding: 1px 10px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003185}}
#block-tommiblog-local-tasks ul li a:hover {
  background: #d5d5d5;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Phablet LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003199}}
  body .name-and-slogan .site-name, body .name-and-slogan .site-name a {
    font-size: 81px;
    font-size: 4.5rem;
  }
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- DESKTOP LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003210}}
  body {
    /* Headlines */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003215}}
  body h2 {
    font-size: 34.2px;
    font-size: 1.9rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003219}}
  body article h2 {
    margin-bottom: 2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003223}}
  body .name-and-slogan .site-name, body .name-and-slogan .site-name a {
    font-size: 108px;
    font-size: 6rem;
    margin-left: -5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003227}}
  body .imagefloatleft {
    float: left;
    margin: 5px 15px 0 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-stable\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003231}}
  body .imagefloatright {
    float: right;
    margin: 5px 0 0 15px;
  }
}
